spring:
  application:
    name: javaServiceTreeFrameworkBakcendCore
  mvc:
    async:
      request-timeout: 7200
  sleuth:
    enabled: true
    sampler:
      probability: 1.0
  servlet:
    multipart:
      max-file-size: 10240MB
      max-request-size: 10240MB
  jpa:
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: false
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  main:
    allow-bean-definition-overriding: true

springfox:
  documentation:
    swagger:
      v2:
        path: /backend-core-api
    swagger-ui:
      base-url: /backend-core-api

server:
  port: 31313
  servlet:
    session:
      timeout: 7200
  contextPath: /

feign:
  hystrix:
    enabled: true

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000
    "엔진통신기#이슈_검색엔진_벌크_저장(Long,String,Long,Long)":
      execution:
        timeout:
          enabled: false
    "엔진통신기#요구사항이슈_조회(Long,String,String)":
      execution:
        timeout:
          enabled: false
    "엔진통신기#히트맵_제품서비스_버전목록으로_조회(Long,Long,List)":
      execution:
        timeout:
          enabled: false