spring:
  application:
    name: javaServiceTreeFrameworkBackendCore
  mvc:
    async:
      request-timeout: 7200
  sleuth:
    enabled: true
    sampler:
      probability: 1.0
  servlet:
    multipart:
      max-file-size: 10240MB
      max-request-size: 10240MB
  jpa:
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: false
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  main:
    allow-bean-definition-overriding: true

logging:
  config: classpath:logback/logback-${spring.profiles.active}.xml

springfox:
  documentation:
    swagger:
      v2:
        path: /backend-core-api
    swagger-ui:
      base-url: /backend-core-api

server:
  port: 31313
  address: 0.0.0.0
  servlet:
    session:
      timeout: 7200
  contextPath: /

requirement:
  delete:
    type: force delete      # (두 가지 유형)
                            # soft delete - 이슈 제목 및 본문 삭제 수정 처리(default)
                            # force delete - 삭제 API 호출 처리
  state:
    complete:
      keyword: 해결됨,닫힘

cors:
  allowed-origins: "http://localhost,http://127.0.0.1,http://localhost:9999,http://127.0.0.1:9999,http://313.co.kr,http://www.313.co.kr,https://313.co.kr,https://www.313.co.kr,http://313.co.kr:9999,http://www.313.co.kr:9999,http://a-rms.net,http://www.a-rms.net,https://a-rms.net,https://www.a-rms.net,http://www.a-rms.net:9999,http://a-rms.net:9999,http://mad-dev.megazone.com,http://192.168.4.141"