<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <conversionRule conversionWord="highlightCustom" converterClass="com.arms.api.util.HighlightingCompositeConverterCustom" />

    <property name="LOG_PATTERN"
              value="%highlightCustom([%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %([%thread]) %(%-5level) %([%C.%M:%(%L)]) - %(%msg%n))"/>
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %([%thread]) %highlight(%-5level) %([%C.%M:%(%L)]) - %highlight(%msg%n)"/>

    <include resource="logback/console-appender.xml"/>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    <logger name="com.arms" level="DEBUG">
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>


</configuration>