<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %([%thread]) %highlight(%-5level) %([%C.%M:%(%L)]) - %highlight(%msg%n)"/>

    <include resource="logback/console-appender.xml"/>

    <logger name="com.arms" level="DEBUG">
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>


</configuration>